__pycache__/initializer.cpython-38.pyc
/venv/
/temp/
/.vscode/
/.idea/dictionaries/hsfro.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/satisfactoryCalc.iml
/.idea/vcs.xml
